@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   .container-box {
      @apply container mx-auto max-w-5xl p-2;
   }
   input {
      @apply border rounded-md px-2 py-1;
   }
   label {
      @apply text-gray-700 text-sm mt-3;
   }
   .btn {
      @apply px-4 py-2 rounded-md;
   }
   .btn-primary {
      @apply bg-yellow-500 text-gray-800;
   }
   .error-msg {
      @apply text-red-500 text-sm;
   }
}

html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
